.flex-column {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blinking {
  background-color: red;
}

button {
  margin-top: 15px;
}
